.about-hero {
    height: 350px;
    display: flex;
    align-items: end;
}

.about-hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url('img/about hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.heading-sec {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.padding-bottom {
    padding-bottom: 30px;
}

.about-agancy {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    margin-top: 50px;
}

.left-column {
    width: 50%;
    padding-right: 20px;
}

.right-column {
    width: 50%;
}

.black {
    color: black;
}

.right-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.right-inner-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: gray;
}

.just-prac {
    transition: outline 1s ease-in;
}

.just-prac:hover {
    outline-style: solid;
    outline-width: 3px;
    outline-color: blue;
    outline-offset: 10px;
}


/*  */

.video-section {
    display: flx;
}

.video-sec {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-sec::before {
    content: "";
    position: absolute;
    width: 100%;
    z-index: -1;
    height: 500px;
    background-image: url("img/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}


/* Others setion */

.other-sec {
    height: 600px;
}

.other-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-col {
    background-color: rgba(65, 83, 83, 0.381);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 100px;
}

.other-sec::before {
    content: "";
    background-image: url("img/package-01-1024x640.jpg");
    z-index: -1;
    width: 100%;
    height: 600px;
    position: absolute;
    background-position: fixed;
    background-size: cover;
}


/* image staff section */

.staff-section {
    margin-top: -100px;
    margin-bottom: 50px;
}

.img-staff {
    display: flex;
    flex-direction: row;
}

.staff-col-1 {
    text-align: center;
}

.staff-name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: rgb(77, 77, 77);
    font-size: 26px;
    padding-top: 15px;
}

.staff-contact-btn {
    text-decoration: none;
    color: rgb(68, 68, 68);
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid rgb(68, 68, 68);
    font-size: 14px;
}

.staff-contact-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: chocolate;
    border: 1px solid chocolate;
}


/* About company */

.about-company {
    height: 300px;
    display: flex;
    align-items: center;
}

.about-company::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 300px;
    background-image: url("img/about-com-bg.jpg");
    background-size: cover;
}

.about-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-1-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


/* madia query responsive divices */

@media screen and (max-width:1000px) {
    .img-staff {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:700px) {
    .img-staff {
        display: flex;
        flex-direction: column;
    }
    .about-agancy {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
        margin-top: 50px;
        width: 100%;
    }
    .left-column {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .right-column {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        text-align: center;
        margin-top: 30px;
    }
    .staff-name {
        font-size: 20px;
    }
    p.all-para.gray {
        font-size: 16px;
    }
    .staff-col-1 {
        margin: 19px 0;
    }
    .container.about-columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .about-company {
        height: 400px;
        display: flex;
        align-items: center;
    }
    .about-company::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 400px;
        background-image: url("img/about-com-bg.jpg");
        background-size: cover;
    }
}

@media screen and (max-width:460px) {
    .heading-sec.black {
        font-size: 22px;
    }
}