body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.menu ul {
    list-style: none;
    text-decoration: none;
}

.menu ul li {
    float: left;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(77, 77, 77);
}

.active {
    color: #f76570;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #f3a46b;
    padding: 10px 25px;
    border-radius: 500px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    color: white;
    background-color: #f76570;
}

a.btn {
    border-radius: 50px;
}

.main-color {
    color: #f3a46b;
}


/* navbar responsive  */

@media screen and (max-width:750px) {
    .nav-link {
        text-decoration: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    .a.btn.header-btn {
        display: none;
    }
    nav.navbar.container {
        margin: 0;
        padding: 20px 0;
    }
    .site-logo {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button {
        display: none;
    }
    .menu {
        margin: 0;
    }
}


/* header fanish heo styling*/

.hero {
    height: 80vh;
}

.hero::before {
    content: "";
    background: url(img/slide-02.jpg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
}

.hero-con {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cont2 {
    padding-top: 100px;
}

.main-heading {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.hero-heading {
    background-color: rgba(0, 0, 0, 0.356);
    padding: 20px;
    text-transform: capitalize;
    display: inline;
    margin-bottom: 20px;
    line-height: 110px;
}

.heading-color {
    color: #f3a46b;
}

.fa-star {
    color: #fff;
    padding: 10px;
}

.end-009 {
    padding-bottom: 40px;
}

.all-para {
    font-family: 'Poppins', sans-serif;
}


/* hero complete */

.left-section {
    width: 70%;
    grid-area: left-section;
}

.right-section {
    width: 30%;
    grid-area: right-section;
    background-image: url(img/para-07.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.paris-sec {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.rigth-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("img/para-07.jpg");
    top: 0;
    left: 0;
}

.paris-head {
    color: rgb(63, 63, 63);
}

.head-exp {
    text-decoration: underline;
    text-decoration-color: #f3a46b;
}

.head-exp2 {
    text-decoration: underline;
    text-decoration-color: #6d6b6a;
}

.items {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    overflow: hidden;
}

.item {
    position: relative;
    padding: 15px;
    background-image: url("img/package-01-150x150.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.item2 {
    position: relative;
    padding: 15px;
    background-image: url("img/package-02-150x150.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.item3 {
    position: relative;
    padding: 15px;
    background-image: url("img/package-03-150x150.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.item4 {
    position: relative;
    padding: 15px;
    background-image: url("img/package-04-150x150.jpg");
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.item-price {
    background-color: #ffd205;
    padding: 0px 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
    color: #fff;
}

.item-price2 {
    background-color: #f76570;
    padding: 0px 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
    color: #fff;
}

.item-price3 {
    background-color: #ba71da;
    padding: 0px 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
    color: #fff;
}

.item-price4 {
    background-color: #14b9d5;
    padding: 0px 10px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline;
    color: #fff;
}


/* service section */

.center {
    text-align: center;
}

.service-section {
    background-color: rgb(59, 56, 56);
    padding-top: 60px;
    margin-top: 60px;
    padding-bottom: 50px;
}

.white {
    color: #fff;
}

.service-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
}

.ser-item {
    display: flex;
    padding-top: 40px;
    padding-left: 10px;
}

.item-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
}

.content-ser {
    margin-left: 10px;
}

.ser-button {
    color: #fff;
    background-color: #1bbc9b;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.ser-button2 {
    color: #fff;
    background-color: #ff6868;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.ser-button3 {
    color: #fff;
    background-color: #14b9d5;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.ser-button4 {
    color: #fff;
    background-color: #f3a46b;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.ser-button5 {
    color: #fff;
    background-color: #c755da;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.ser-button6 {
    color: #fff;
    background-color: #ff6868;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
}

.head-section {
    padding-bottom: 20px;
}


/* servixe copalted */

.blooging {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.7fr 1fr 1fr;
    margin-top: 100px;
}

.one-sec {
    background-color: #f3a46b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    border-radius: 5px;
}

.center {
    text-align: center;
}

.days {
    text-align: center;
}

.days-time {
    color: #fff;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.day {
    color: #fff;
    padding: 0;
}

.days2 {
    margin-left: 30px;
}

.days-hour {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.days-hour2 {
    display: flex;
    flex-direction: row;
}

.btn2 {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 10px 25px;
    border-radius: 500px;
    color: #f3a46b;
    font-family: 'Poppins', sans-serif;
}

.top {
    margin-top: 15px;
}

.second-sec {
    border: 1px solid rgb(238, 238, 238);
}

.mian-icon {
    background-color: #ff6868;
    padding: 10px;
    border-radius: 50%;
}

.mian-icon2 {
    background-color: #f3a46b;
    padding: 10px;
    border-radius: 50%;
}

.mian-icon3 {
    background-color: #1bbc9b;
    padding: 10px;
    border-radius: 50%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    margin-right: 20px;
}

.icon-main {
    margin-top: -25px;
    cursor: pointer;
}

.content {
    padding: 25px;
}

.all-h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.icon-loc {
    display: inline;
    align-items: center;
    margin: 0;
    padding: o;
}

.icon-loc-sec {
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    ;
    padding-bottom: 15px;
}

.icon-loc-sec2 {
    align-items: center;
    border-bottom: 1px solid rgb(238, 238, 238);
    ;
    padding-bottom: px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.uppercase {
    text-transform: uppercase;
}

.all-para {
    line-height: 20px;
}

.para-all {
    font-family: 'Poppins', sans-serif;
    color: rgb(136, 136, 136);
    padding-top: 10px;
    font-size: 14px;
}

.ser-button3 {
    font-family: 'Poppins', sans-serif;
}

.black {
    color: black;
}

.blog-section {
    margin-top: 100px;
    margin-bottom: 70px;
}