@media screen and (max-width:816px) {
    .logo {
        width: 150px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .menu ul li {
        float: left;
        text-decoration: none;
        padding: 0px;
        text-transform: capitalize;
        font-size: 13px;
        color: rgb(77, 77, 77);
    }
    .service-items {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 2;
    }
    .main-heading {
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        line-height: 20px;
    }
    .hero-heading {
        background-color: rgba(0, 0, 0, 0.356);
        padding: 10px;
        text-transform: capitalize;
        display: inline;
        line-height: 70px;
    }
    .hero::before {
        content: "";
        background: url(img/slide-02.jpg);
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }
    .fa-star {
        color: #fff;
        padding: 10px;
        font-size: 12px;
    }
    .hero-con {
        padding-top: 0;
    }
    .paris-sec {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .left-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .items {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        overflow: hidden;
    }
    .hero-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .item {
        margin-bottom: 10px;
    }
    .right-section {
        height: 500px;
        width: 300px;
        margin-top: 10px;
    }
    .blooging {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        margin-top: 100px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .one-sec,
    .second-sec {
        margin-left: 50px;
        margin-right: 50px;
    }
    .content-section2 {
        display: grid;
        grid-column: 1;
    }
    .content-section2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
        grid-template-rows: 2;
    }
    .footer-main {
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
    .footer::before {
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: url(img/footer-bg.jpg);
        z-index: -1;
    }
}

@media only screen and (max-width:780px) {
    .content-section2.container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .footer-main {
        background-color: aliceblue;
        display: grid;
        /* grid-template-columns: 1.2fr 0.8fr 0.8fr 0.8fr; */
        grid-template-columns: 1fr;
        padding-top: 60px;
    }
    .footer::before {
        content: "";
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-image: url(img/footer-bg.jpg);
        z-index: -1;
    }
}